.introduction h1{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 48%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.introduction h1 span{
    display: black;
    color: #000;
    background-image: none;
    -webkit-text-fill-color: currentColor;
}

.introduction h4{
    color: #4b5563;
    font-size: 17px;
}